* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home-page {
  align-items: center;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../assets/model-1.jpg");
  background-size: cover;
  background-position: center top;
  height: 100%;
  overflow: hidden;
  padding-top: 40vh;
  text-align: center;
}
.home-page-name {
  border-bottom: 2px solid #fff;
  font-size: 5rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.home-page-name-last {
  color: #ff652f;
  font-weight: 700;
}

.menu-button {
  cursor: pointer;
  height: 20px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 28px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
.menu-button-hamburger {
  background-color: #fff;
  height: 3px;
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  transition: all 0.5s ease-in-out;
}
.menu-button-hamburger::before {
  background-color: #fff;
  content: "";
  height: 3px;
  position: absolute;
  top: -8px;
  width: 28px;
  transition: all 0.5s ease-in-out;
}
.menu-button-hamburger::after {
  background-color: #fff;
  content: "";
  height: 3px;
  position: absolute;
  top: 8px;
  width: 20px;
  transition: all 0.5s ease-in-out;
}
.menu-button-hamburger.open {
  background: transparent;
  transform: rotate(720deg);
}
.menu-button-hamburger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-button-hamburger.open::after {
  transform: rotate(-45deg) translate(3px, -7px);
  width: 28px;
}

.navigation-bar {
  left: 0;
  opacity: 0.98;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100vw;
}
.navigation-bar.open {
  visibility: visible;
}
.navigation-bar .menu-navigation {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #272727;
  flex-wrap: wrap;
  height: 100vh;
  list-style-type: none;
  overflow: hidden;
  padding-right: 1rem;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}
.navigation-bar .menu-navigation.open {
  transform: translateY(0);
}
.navigation-bar .menu-navigation-item {
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}
.navigation-bar .menu-navigation-item.open {
  transform: translateX(0);
}
.navigation-bar .menu-navigation-item.active > a {
  color: #ff652f;
}
.navigation-bar .menu-navigation-link {
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
  padding: 2rem 0;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
.navigation-bar .menu-navigation-link:hover {
  color: #ff652f;
}

.menu-navigation-item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-navigation-item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-navigation-item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-navigation-item:nth-child(4) {
  transition-delay: 0.55s;
}

.about-page {
  padding-bottom: 2rem;
}
.about-page-bio-image {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../assets/model-1.jpg") center top;
  background-size: cover;
  height: 50vh;
  width: 100%;
}
.about-page-bio-image p {
  margin-bottom: 2rem;
}
.about-page-bio {
  text-align: center;
  width: 80%;
}
.about-page-bio .text-secondary {
  padding-bottom: 1rem;
}
.about-page .my-jobs {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin: 2rem auto 0 auto;
  width: 60vw;
}
.about-page .my-jobs-list {
  background: #414141;
  border-bottom: 5px solid #ff652f;
  padding: 0.5rem;
}
.about-page .my-jobs-list h2, .about-page .my-jobs-list h3 {
  margin: 0.5rem 0;
}
.about-page .my-jobs-list h6 {
  margin: 0.3rem 0;
}
.about-page .social-icons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.about-page footer {
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.projects-page {
  padding-bottom: 2rem;
}
.projects-page-bio-image {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../assets/model-1.jpg") center top;
  background-size: cover;
  height: 30vh;
  width: 100%;
}
.projects-page-bio-image .text-secondary {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.projects-page-items {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin: 2rem auto 0 auto;
  width: 60vw;
}
.projects-page-item {
  border-bottom: 5px solid #ff652f;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.projects-page-item img {
  width: 100%;
}
.projects-page-item::after {
  transition: all 0.5s ease-in-out;
  background: #ff652f;
  content: "";
  left: 0;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}
.projects-page-item:hover::after {
  top: 0;
  opacity: 0.9;
}
.projects-page-item:hover .projects-page-button {
  opacity: 1;
}
.projects-page-buttons {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
}
.projects-page-button {
  color: #000;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.projects-page-button:hover {
  color: #fff;
}
.projects-page .social-icons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.projects-page footer {
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.contact-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../assets/model-1.jpg");
  background-size: cover;
  background-position: center top;
  height: 100%;
  overflow: hidden;
  padding-top: 40vh;
  text-align: center;
}
.contact-page h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.contact-page-list {
  display: grid;
  font-size: 1.5rem;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.contact-page .social-icons {
  margin-top: 2rem;
  position: initial;
}

@media screen and (min-width: 768px) {
  .menu-button {
    visibility: hidden;
  }
  .navigation-bar {
    visibility: visible;
  }
  .navigation-bar .menu-navigation {
    background: transparent;
    display: block;
    height: 100%;
    text-align: right;
    transform: translateY(0);
  }
  .navigation-bar .menu-navigation-item {
    display: inline;
    padding-right: 1.5rem;
  }
  .navigation-bar .menu-navigation-link {
    font-size: 1.5rem;
  }
  .about-page-bio {
    font-size: 1.5rem;
  }
  .projects-page-bio-image {
    height: 40vh;
  }
  .projects-page-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects-page .text-secondary {
    font-size: 3rem;
  }
  .contact-page-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .projects-page-items {
    grid-template-columns: repeat(3, 1fr);
  }
  .contact-page-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1600px) {
  .projects-page-bio-image {
    height: 50vh;
  }
}
body {
  background-color: #272727;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  height: 100vh;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

.text-secondary {
  color: #ff652f;
}

header {
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 2;
}

main {
  height: 100%;
  width: 100%;
}
main .social-icons {
  bottom: 1rem;
  left: 1rem;
  position: fixed;
}
main .social-icons a {
  padding: 0.4rem;
  transition: all 0.5s ease-in-out;
}
main .social-icons a:hover {
  color: #ff652f;
}

footer {
  bottom: 0.4rem;
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
  position: fixed;
  right: 1rem;
  text-align: right;
}/*# sourceMappingURL=main.css.map */