$primary-color: #272727;
$secondary-color: #ff652f;
$primary-white: #fff;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold":700
);

@function weights($weight-name){
    @return map-get($font-weights, $weight-name);
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}