.home-page{
    align-items: center;
    background: 
    linear-gradient(
        to right,
        rgba($primary-color,0.9),
        rgba($primary-color,0.3)
    ),
    url("../assets/model-1.jpg");
    background-size: cover;
    background-position: center top;
    height: 100%;
    overflow: hidden;
    padding-top:40vh;
    text-align: center;

    &-name{
        border-bottom: 2px solid set-text-color($primary-color);
        font-size: 5rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;

        &-last{
            color: $secondary-color;
            font-weight: weights(bold);
        }
    }
}   