.menu-button {
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 28px;
    z-index: 1;
    @include transition-ease;

    &-hamburger {
        background-color: set-text-color($primary-color);
        height: 3px;
        position: absolute;
        right: 0;
        top: 0.5rem;
        width: 28px;
        @include transition-ease;
        
        &::before {
            background-color: set-text-color($primary-color);
            content: "";
            height: 3px;
            position: absolute;
            top: -8px;
            width: 28px;
            @include transition-ease;
        }
         
        &::after{
            background-color: set-text-color($primary-color);
            content: "";
            height: 3px;
            position: absolute;
            top: 8px;
            width: 20px;
            @include transition-ease;
        }

        &.open{
            background: transparent;
            transform: rotate(720deg);

            &::before {
                transform: rotate(45deg) translate(5px, 8px);
            }

            &::after{
                transform: rotate(-45deg) translate(3px, -7px);
                width: 28px;
            }
        }
    }
}

.navigation-bar{
    left: 0;
    opacity: 0.98;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100vw;

    &.open {
        visibility: visible;
    }

    .menu-navigation{
        @include flexCenter(column,center);
        background-color: $primary-color;
        flex-wrap: wrap;
        height: 100vh;
        list-style-type: none;
        overflow: hidden;
        padding-right: 1rem;
        transform: translateY(-100%);
        @include transition-ease;
 
        &.open{
        transform: translateY(0);
        }

        &-item{
            transform: translateX(100vw);
            @include transition-ease;
            
            &.open {
                transform: translateX(0);
            }

            &.active > a {
                color: $secondary-color;
            }
        }

        &-link {
            display: inline-block;
            font-size: 2rem;
            font-weight: weights(regular);
            padding: 2rem 0;
            text-transform: uppercase;
            @include transition-ease;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}

@for $i from 1 through 4 {
    .menu-navigation-item:nth-child(#{$i}){
        transition-delay: ($i * 0.1s) + 0.15s;  
    }
}