.projects-page{
    padding-bottom: 2rem;

    &-bio-image {
        @include flexCenter(column,flex-end);
        background: linear-gradient(
            to right,
            rgba($primary-color,0.9),
            rgba($primary-color,0.3)
            ), 
            url("../assets/model-1.jpg") center top;
        background-size: cover;
        height: 30vh;
        width: 100%;

        .text-secondary{
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }

&-items {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin: 2rem auto 0 auto;
    width: 60vw;
}

&-item {
    border-bottom: 5px solid $secondary-color;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
    }

    &::after {
        @include transition-ease;
        background: $secondary-color;
        content: "";
        left: 0;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 100%;
        width: 100%;
    }

    &:hover {
        &::after {
          top: 0;
          opacity: 0.9;
        }

        .projects-page-button {
          opacity: 1;
        }
      }
}

&-buttons {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%; 
    z-index: 1;
}

&-button {
    color: set-text-color($secondary-color);
    opacity: 0;
    @include transition-ease;

    &:hover {
        color: set-text-color(set-text-color($secondary-color));
      }
}

.social-icons {
    @include flexCenter(column,flex-end);
}

footer {
    transform: rotate(90deg) translate(-3rem,-5rem);
}

}