@import "config";
@import "home";
@import "menu";
@import "about";
@import "projects";
@import "contact";

body {
    background-color: $primary-color;
    color: set-text-color($primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    height: 100vh;
}

h1,h2,h3 {
    font-weight: weights(regular);
}

a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

.text-secondary {
    color: $secondary-color;
}

header{
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 2;
}

main {
    height: 100%;
    width: 100%;
  
    .social-icons{
        bottom: 1rem;
        left: 1rem;
        position: fixed;

    a{
        padding: 0.4rem;
        @include transition-ease;

        &:hover {
            color: $secondary-color;
        }
    }
  } 
}

footer{
    bottom: 0.4rem;
    color: set-text-color($primary-color);
    font-size: 1rem;
    padding: 1rem;
    position: fixed;
    right: 1rem;
    text-align: right;
}