@import "config";
@import "home";

body {
    background-color: $primary-color;
    color: $primary-white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    height: 100vh;
}

h1,h2,h3 {
    font-weight: weights(regular);
}

a{
    color: $primary-white;
    text-decoration: none;
}

header{
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 2;
}

main {
    height: 100%;
    width: 100%;
  
    .social-icons{
        bottom: 1rem;
        left: 1rem;
        position: fixed;
    }

    a{
        padding: 0.4rem;

        &:hover {
            color: $secondary-color;
        }
    }
} 

footer{
    bottom: 0.4rem;
    color: $primary-white;
    font-size: 1rem;
    padding: 1rem;
    position: fixed;
    right: 1rem;
    text-align: right;
}