body {
  background-color: aqua;
}

span {
  color: blueviolet;
}

span {
  color: yellow;
}

.main-content h2 + p {
  color: white;
}

h3[class="deck"] {
  color: brown;
}

a:active {
  color: yellow;
}

a:visited {
  color: red;
}

article:nth-of-type(3) {
  color: white;
}

.box {
  border: 1px solid grey;
  margin: 30px;
  width: 450px;
}

.inline {
  border: 1px solid white;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  /* width: 200px; */
}
